@use '../custom' as *;
@use '../components/mixins' as *;

.intro-section {
    @include back-color;
    //padding: 0 9.375rem 0 9.375rem;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: flex-start;
}

.container-intro {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}