@use '../custom' as *;
@use '../components/mixins' as *;

.menu {

    @include back-color;

    li {
        padding: 0 0.5rem;

        a {
            color: $gray-custom !important;
            text-transform: capitalize;
            font-weight: 500;
            font-size: 0.8rem;
        }
        a:hover {
            color: $secondary !important;
        }
    }
}

.navbar-dark {
    --bs-navbar-color: #64FFDA;
    --bs-navbar-hover-color: #64FFDA;
    --bs-navbar-disabled-color: #64FFDA;
    --bs-navbar-active-color: #64FFDA;
    --bs-navbar-brand-color: #fff;
    --bs-navbar-brand-hover-color: #fff;
    --bs-navbar-toggler-border-color: rgba(204, 214, 246, 0.2);
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");

    --bs-navbar-toggler-focus-width: 0.08rem;
}