@use '../custom' as *;
@use '../components/mixins' as *;

.socialmedia-sec{
    background: $primary;
}

.socialmedia {
    padding: 0 0 5rem 0;
    &__logo-box {
        text-align: center;
        position: relative;

        a {
            display: flex;
            -webkit-box-pack: center;
            justify-content: center;
            -webkit-box-align: center;
        }

        svg {
            color: $gray-custom;
            width: 40px;
            height: 100%;
            margin: 10px;
        }

        svg:hover{
            color: $secondary;
            width: 45px;
        }
    }
}

